<h2>Entrainement au Sudoku </h2>
<div class="wrapper">
  <div class="sudoku">
    <mat-card>
    <button (click)="getSolution()" mat-raised-button color="primary">
      {{(showSolution)?'cacher':'montrer'}} solution
    </button>
    <hr>
    <app-sudoku [grille]="grilleTrous"></app-sudoku>
    </mat-card>
  </div>
  <div class="consigne">
    <mat-card>
    <h3>Règles du Sudoku</h3>
      <p>Le sudoku est un jeu inventé par <b>Howard Gans</b> en <b>1979</b></p>
      <p>Les régles sont les suivantes :</p>
      <ul>
        <li>1 chiffre par colonne</li>
        <li>1 chiffre par ligne</li>
        <li>1 chiffre par petit carré</li>
      </ul>
    </mat-card>
  </div>
</div>

