.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.sudoku {
  grid-column: 1;
  grid-row: 1;
}

.consigne {
  grid-column: 2 / 3;
  grid-row: 1;
}
