<table cellpadding="0" cellspacing="0">
  <tr *ngFor="let line of grille;let index = index">
    <td *ngFor="let item of line; let col = index"
        [ngClass]="{'square': index % 3 === 0,
        'danger': cssDanger(index, col),
        'valid': cssValid(index, col),
         'column': (col+1) % 3 === 0 && col != 0}">
      <input #newValue
             maxlength="1"
             (keyup.enter)="setValue(newValue.value, index, col)"
             (blur)="setValue(newValue.value, index, col)"
             type="text"
             [readOnly]="!modification[index][col].updatable"
             [(ngModel)]="(grille[index][col] === 0)?'':grille[index][col]" style="width: 20px">
    </td>
  </tr>
</table>
